.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
node_modules/**
*.vsix
.debugs/**
.done/**
images/**
css/**
js/**
web_demo/**
con_*.py
*.html
*.md
!README.md
!xianlogo.png
xian_contract_linter.py
test_*.py
start_*.py
debug_*.html
GUIA_*.md
XIAN*.md